USE [ConexionSolidaria]
GO

CREATE OR ALTER    PROCEDURE [dbo].[USP_REGISTRO]
(
    @PrimerNombre NVARCHAR(50),
    @SegundoNombre NVARCHAR(50) = NULL,
    @PrimerApellido NVARCHAR(50),
    @SegundoApellido NVARCHAR(50) = NULL,
    @DNI NVARCHAR(20),
    @Genero CHAR(1),
    @FechaNacimiento DATE = NULL,
    @Email NVARCHAR(100),
    @Telefono NVARCHAR(20) = NULL,
    @Direccion NVARCHAR(200) = NULL
)
AS
BEGIN

SET NOCOUNT ON;

BEGIN TRY

    IF @PrimerNombre IS NULL OR @PrimerApellido IS NULL OR @DNI IS NULL OR @Genero IS NULL
    BEGIN
        SELECT 'Faltan campos obligatorios' AS Error
        RETURN
    END

    IF EXISTS (SELECT 1 FROM Persona WHERE DNI = @DNI)
    BEGIN
        SELECT 'El DNI ya está registrado' AS Error
        RETURN
    END

    IF EXISTS (SELECT 1 FROM Persona WHERE Email = @Email)
    BEGIN
        SELECT 'El correo ya está registrado' AS Error
        RETURN
    END


    BEGIN TRAN


    INSERT INTO Persona
    (
        PrimerNombre,
        SegundoNombre,
        PrimerApellido,
        SegundoApellido,
        DNI,
        Genero,
        FechaNacimiento,
        Email,
        Telefono,
        Direccion
    )
    VALUES
    (
        @PrimerNombre,
        @SegundoNombre,
        @PrimerApellido,
        @SegundoApellido,
        @DNI,
        @Genero,
        @FechaNacimiento,
        @Email,
        @Telefono,
        @Direccion
    )

    DECLARE @PersonaID INT = SCOPE_IDENTITY()



    DECLARE @PasswordTemporal NVARCHAR(255)

    SET @PasswordTemporal = 'UdeM' + RIGHT(@DNI,4)


    INSERT INTO Usuario
    (
        PersonaID,
        Contrasena,
        EstadoID
    )
    VALUES
    (
        @PersonaID,
        @PasswordTemporal,
        1
    )

    DECLARE @UsuarioID INT = SCOPE_IDENTITY()


    INSERT INTO UsuarioRol
    (
        UsuarioID,
        RolID
    )
    VALUES
    (
        @UsuarioID,
        1
    )


    COMMIT


    SELECT
        'Registro exitoso' AS Mensaje,
        @UsuarioID AS UsuarioID,
        @PasswordTemporal AS PasswordTemporal


END TRY
BEGIN CATCH

    ROLLBACK

    SELECT
        ERROR_MESSAGE() AS Error,
        ERROR_LINE() AS Linea

END CATCH

END