USE [master]
GO

CREATE DATABASE ConexionSolidaria;
GO

USE ConexionSolidaria;
GO


/****** Object:  Table [dbo].[Estado]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[EstadoID] [int] IDENTITY(1,1) NOT NULL,
	[NombreEstado] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK__Estado__FEF86B6098621DD5] PRIMARY KEY CLUSTERED 
(
	[EstadoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[EventoID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NULL,
	[HoraFin] [time](7) NULL,
	[Lugar] [nvarchar](150) NOT NULL,
	[CupoMaximo] [int] NOT NULL,
	[CupoDisponible] [int] NOT NULL,
	[UsuarioCreadorID] [int] NOT NULL,
	[EstadoID] [int] NULL,
 CONSTRAINT [PK__Evento__1EEB59010AA4BEDB] PRIMARY KEY CLUSTERED 
(
	[EventoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripcion]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripcion](
	[InscripcionID] [int] IDENTITY(1,1) NOT NULL,
	[VoluntarioID] [int] NOT NULL,
	[EventoID] [int] NOT NULL,
	[FechaInscripcion] [datetime] NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[EstadoID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[InscripcionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[PersonaID] [int] IDENTITY(1,1) NOT NULL,
	[PrimerNombre] [nvarchar](100) NOT NULL,
	[SegundoNombre] [nvarchar](100) NULL,
	[PrimerApellido] [nvarchar](100) NOT NULL,
	[SegundoApellido] [nvarchar](100) NULL,
	[DNI] [nchar](20) NOT NULL,
	[Genero] [nvarchar](20) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](20) NULL,
	[Direccion] [nvarchar](100) NULL,
 CONSTRAINT [PK__Persona__7C34D32376D49789] PRIMARY KEY CLUSTERED 
(
	[PersonaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolID] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[PersonaID] [int] NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[EstadoID] [int] NOT NULL,
	[DebeCambiarPassword] [bit] NOT NULL,
 CONSTRAINT [PK__Usuario__2B3DE7984E7964EA] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[UsuarioID] [int] NOT NULL,
	[RolID] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC,
	[RolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Voluntario]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Voluntario](
	[VoluntarioID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[Habilidades] [nchar](100) NULL,
	[HorasAcumuladas] [int] NOT NULL,
	[EstadoID] [int] NULL,
 CONSTRAINT [PK__Voluntar__47C2E0FFBAD48A85] PRIMARY KEY CLUSTERED 
(
	[VoluntarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([EstadoID], [NombreEstado]) VALUES (1, N'Programado')
INSERT [dbo].[Estado] ([EstadoID], [NombreEstado]) VALUES (2, N'Realizado')
INSERT [dbo].[Estado] ([EstadoID], [NombreEstado]) VALUES (3, N'Cancelado')
SET IDENTITY_INSERT [dbo].[Estado] OFF
GO
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([EventoID], [Nombre], [Fecha], [HoraInicio], [HoraFin], [Lugar], [CupoMaximo], [CupoDisponible], [UsuarioCreadorID], [EstadoID]) VALUES (1, N'Jornada de Recolección de Alimentos', CAST(N'2026-03-28' AS Date), CAST(N'08:00:00' AS Time), CAST(N'12:00:00' AS Time), N'Colonia 14 de Septiembre, Managua', 20, 20, 3, 1)
INSERT [dbo].[Evento] ([EventoID], [Nombre], [Fecha], [HoraInicio], [HoraFin], [Lugar], [CupoMaximo], [CupoDisponible], [UsuarioCreadorID], [EstadoID]) VALUES (2, N'Limpieza Comunitaria', CAST(N'2026-03-30' AS Date), CAST(N'09:00:00' AS Time), CAST(N'13:00:00' AS Time), N'Reparto San Juan, Managua', 25, 21, 3, 1)
INSERT [dbo].[Evento] ([EventoID], [Nombre], [Fecha], [HoraInicio], [HoraFin], [Lugar], [CupoMaximo], [CupoDisponible], [UsuarioCreadorID], [EstadoID]) VALUES (3, N'Jornada Médica Comunitaria', CAST(N'2026-04-05' AS Date), CAST(N'08:30:00' AS Time), CAST(N'13:30:00' AS Time), N'Barrio Monseñor Lezcano, Managua', 40, 40, 3, 1)
SET IDENTITY_INSERT [dbo].[Evento] OFF
GO
SET IDENTITY_INSERT [dbo].[Inscripcion] ON 

INSERT [dbo].[Inscripcion] ([InscripcionID], [VoluntarioID], [EventoID], [FechaInscripcion], [Estado], [EstadoID]) VALUES (1, 5, 1, CAST(N'2026-03-09T14:43:30.520' AS DateTime), N'Inactiva', 7)
INSERT [dbo].[Inscripcion] ([InscripcionID], [VoluntarioID], [EventoID], [FechaInscripcion], [Estado], [EstadoID]) VALUES (2, 5, 3, CAST(N'2026-03-09T14:43:32.070' AS DateTime), N'Inactiva', 7)
INSERT [dbo].[Inscripcion] ([InscripcionID], [VoluntarioID], [EventoID], [FechaInscripcion], [Estado], [EstadoID]) VALUES (3, 6, 2, CAST(N'2026-03-09T15:34:08.970' AS DateTime), N'Activa', 4)
SET IDENTITY_INSERT [dbo].[Inscripcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([PersonaID], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [DNI], [Genero], [FechaNacimiento], [Email], [Telefono], [Direccion]) VALUES (1, N'Roxana', N'Antonia', N'Baez', N'Somarriba', N'0011210903456R      ', N'F', CAST(N'1990-10-12' AS Date), N'rbaez@udem.edu.ni', N'8888-1111', N'De la Rotonda Rubén Darío, 2 cuadras al sur, 1 cuadra al este')
INSERT [dbo].[Persona] ([PersonaID], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [DNI], [Genero], [FechaNacimiento], [Email], [Telefono], [Direccion]) VALUES (2, N'Rudy', N'Moisés', N'Herrera', N'Ocampo', N'0021311922784H      ', N'Masculino', CAST(N'1992-11-13' AS Date), N'rherrera@udem.edu.ni', N'8888-2222', N'Reparto San Juan, Managua')
INSERT [dbo].[Persona] ([PersonaID], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [DNI], [Genero], [FechaNacimiento], [Email], [Telefono], [Direccion]) VALUES (3, N'Milton', N'Ramón', N'Navarrete', N'Muñoz', N'0030507889142N      ', N'Masculino', CAST(N'1988-07-05' AS Date), N'mnavarrete@udem.edu.ni', N'8888-3333', N'Colonia 14 de Septiembre, Managua')
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([RolID], [NombreRol], [Descripcion]) VALUES (1, N'Voluntario', N'Usuario que participa en eventos')
INSERT [dbo].[Rol] ([RolID], [NombreRol], [Descripcion]) VALUES (2, N'Coordinador', N'Usuario que organiza eventos')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([UsuarioID], [PersonaID], [Contrasena], [EstadoID], [DebeCambiarPassword]) VALUES (1, 1, N'$2a$11$NtSfbcI/GMjdbaNso/of.OI8g3gn3t9izN6YF4vmwkGKp7DliRyMa', 1, 0)
INSERT [dbo].[Usuario] ([UsuarioID], [PersonaID], [Contrasena], [EstadoID], [DebeCambiarPassword]) VALUES (2, 2, N'$2a$11$9t1rqlDQxli7OCUjoMDfD.zy8EgHuLpBcXTUxqJR7VzbLezYcVmEG', 1, 0)
INSERT [dbo].[Usuario] ([UsuarioID], [PersonaID], [Contrasena], [EstadoID], [DebeCambiarPassword]) VALUES (3, 3, N'$2a$11$53UzDk/AR5yk6YbRe75M.evtwKbDySD6.wkSDNQnQvUfDYBENZmga', 1, 0)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
INSERT [dbo].[UsuarioRol] ([UsuarioID], [RolID]) VALUES (1, 2)
INSERT [dbo].[UsuarioRol] ([UsuarioID], [RolID]) VALUES (2, 1)
INSERT [dbo].[UsuarioRol] ([UsuarioID], [RolID]) VALUES (3, 2)
GO
SET IDENTITY_INSERT [dbo].[Voluntario] ON 

INSERT [dbo].[Voluntario] ([VoluntarioID], [UsuarioID], [Habilidades], [HorasAcumuladas], [EstadoID]) VALUES (1, 1, NULL, 0, 7)
INSERT [dbo].[Voluntario] ([VoluntarioID], [UsuarioID], [Habilidades], [HorasAcumuladas], [EstadoID]) VALUES (2, 2, NULL, 0, NULL)
INSERT [dbo].[Voluntario] ([VoluntarioID], [UsuarioID], [Habilidades], [HorasAcumuladas], [EstadoID]) VALUES (3, 4, NULL, 0, 4)
SET IDENTITY_INSERT [dbo].[Voluntario] OFF
GO
/****** Object:  Index [UQ_Voluntario_Evento]    Script Date: 10/3/2026 10:17:40 ******/
ALTER TABLE [dbo].[Inscripcion] ADD  CONSTRAINT [UQ_Voluntario_Evento] UNIQUE NONCLUSTERED 
(
	[VoluntarioID] ASC,
	[EventoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rol__4F0B537F879E263D]    Script Date: 10/3/2026 10:17:40 ******/
ALTER TABLE [dbo].[Rol] ADD UNIQUE NONCLUSTERED 
(
	[NombreRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[Inscripcion] ADD  DEFAULT ('Activa') FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF__Usuario__Estado__60A75C0F]  DEFAULT ('Activo') FOR [EstadoID]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [DebeCambiarPassword]
GO
ALTER TABLE [dbo].[Voluntario] ADD  CONSTRAINT [DF__Voluntari__Horas__6B24EA82]  DEFAULT ((0)) FOR [HorasAcumuladas]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Estado]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Usuario] FOREIGN KEY([UsuarioCreadorID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Usuario]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Estado]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Evento] FOREIGN KEY([EventoID])
REFERENCES [dbo].[Evento] ([EventoID])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Evento]
GO
ALTER TABLE [dbo].[Inscripcion]  WITH CHECK ADD  CONSTRAINT [FK_Inscripcion_Voluntario] FOREIGN KEY([VoluntarioID])
REFERENCES [dbo].[Voluntario] ([VoluntarioID])
GO
ALTER TABLE [dbo].[Inscripcion] CHECK CONSTRAINT [FK_Inscripcion_Voluntario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Estado] FOREIGN KEY([EstadoID])
REFERENCES [dbo].[Estado] ([EstadoID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Estado]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_Persona] FOREIGN KEY([PersonaID])
REFERENCES [dbo].[Persona] ([PersonaID])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Persona]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([RolID])
REFERENCES [dbo].[Rol] ([RolID])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
ALTER TABLE [dbo].[Voluntario]  WITH CHECK ADD  CONSTRAINT [FK_Voluntario_Usuario] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuario] ([UsuarioID])
GO
ALTER TABLE [dbo].[Voluntario] CHECK CONSTRAINT [FK_Voluntario_Usuario]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_DASHBOARD]
    @Opcion INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @Opcion = 1
    BEGIN
        SELECT
            e.EventoID,
            e.Nombre,
            e.Fecha,
            e.HoraInicio,
            e.HoraFin,
            e.Lugar,
            e.CupoMaximo,
            e.CupoDisponible,
            est.NombreEstado AS EstadoEvento,
            COUNT(i.InscripcionID) AS TotalInscritos
        FROM Evento e
        INNER JOIN Estado est 
            ON est.EstadoID = e.EstadoID
        LEFT JOIN Inscripcion i
            ON i.EventoID = e.EventoID
            AND i.EstadoID = 4
        GROUP BY
            e.EventoID,
            e.Nombre,
            e.Fecha,
            e.HoraInicio,
            e.HoraFin,
            e.Lugar,
            e.CupoMaximo,
            e.CupoDisponible,
            est.NombreEstado
        ORDER BY e.Fecha, e.HoraInicio;

        RETURN;
    END

    IF @Opcion = 2
    BEGIN
        SELECT
            CONCAT(p.PrimerNombre, ' ', p.PrimerApellido) AS NombreVoluntario,
            e.Nombre AS Evento,
            e.Fecha AS FechaEvento,
            e.HoraInicio,
            e.HoraFin,
            i.FechaInscripcion,
            est.NombreEstado AS EstadoInscripcion
        FROM Inscripcion i
        INNER JOIN Evento e 
            ON e.EventoID = i.EventoID
        INNER JOIN Voluntario v 
            ON v.VoluntarioID = i.VoluntarioID
        INNER JOIN Usuario u 
            ON u.UsuarioID = v.UsuarioID
        INNER JOIN Persona p 
            ON p.PersonaID = u.PersonaID
        INNER JOIN Estado est 
            ON est.EstadoID = i.EstadoID
        WHERE est.NombreEstado <> 'Inactivo'
        ORDER BY e.Fecha, e.HoraInicio, p.PrimerNombre;

        RETURN;
    END
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_EVENTO]
    @Opcion INT,
    @EventoID INT = NULL,
    @Nombre NVARCHAR(150) = NULL,
    @Fecha DATE = NULL,
    @HoraInicio TIME = NULL,
    @HoraFin TIME = NULL,
    @Lugar NVARCHAR(200) = NULL,
    @CupoMaximo INT = NULL,
    @UsuarioCreadorID INT = NULL,
    @EstadoID INT = 1,
    @VoluntarioID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Opcion NOT IN (1,2,3)
    BEGIN
        SELECT 'Opción no válida' AS Error;
        RETURN;
    END

    IF @HoraInicio IS NOT NULL AND @HoraFin IS NOT NULL AND @HoraFin <= @HoraInicio
    BEGIN
        SELECT 'La hora de fin debe ser mayor que la hora de inicio' AS Error;
        RETURN;
    END


    IF @Opcion = 1
    BEGIN

        IF @Nombre IS NULL 
           OR @Fecha IS NULL
           OR @HoraInicio IS NULL
           OR @HoraFin IS NULL
           OR @Lugar IS NULL 
           OR @CupoMaximo IS NULL
           OR @UsuarioCreadorID IS NULL
        BEGIN
            SELECT 'Faltan campos obligatorios' AS Error;
            RETURN;
        END

        IF EXISTS (
            SELECT 1
            FROM Evento
            WHERE Fecha = @Fecha
            AND Lugar = @Lugar
            AND (
                @HoraInicio < HoraFin
                AND
                @HoraFin > HoraInicio
            )
        )
        BEGIN
            SELECT 'Ya existe un evento en ese lugar y horario para esa fecha' AS Error;
            RETURN;
        END


        INSERT INTO Evento (
            Nombre,
            Fecha,
            HoraInicio,
            HoraFin,
            Lugar,
            CupoMaximo,
            CupoDisponible,
            UsuarioCreadorID,
            EstadoID
        )
        VALUES (
            @Nombre,
            @Fecha,
            @HoraInicio,
            @HoraFin,
            @Lugar,
            @CupoMaximo,
            @CupoMaximo,
            @UsuarioCreadorID,
            @EstadoID
        );

        SELECT 'Evento creado correctamente' AS Mensaje;
        RETURN;
    END


    IF @Opcion = 2
    BEGIN

        IF @EventoID IS NULL
        BEGIN
            SELECT 'EventoID requerido' AS Error;
            RETURN;
        END

        IF NOT EXISTS (SELECT 1 FROM Evento WHERE EventoID = @EventoID)
        BEGIN
            SELECT 'Evento no existe' AS Error;
            RETURN;
        END


        DECLARE @TotalInscritos INT;

        SELECT @TotalInscritos = COUNT(*)
        FROM Inscripcion
        WHERE EventoID = @EventoID
        AND EstadoID = 4;


        IF @CupoMaximo IS NOT NULL AND @CupoMaximo < @TotalInscritos
        BEGIN
            SELECT 'Error: No se puede reducir el cupo a ' 
                   + CAST(@CupoMaximo AS VARCHAR)
                   + ' porque ya existen '
                   + CAST(@TotalInscritos AS VARCHAR)
                   + ' personas inscritas.' AS Error;
            RETURN;
        END


        DECLARE @FechaFinal DATE =
            ISNULL(@Fecha, (SELECT Fecha FROM Evento WHERE EventoID = @EventoID));

        DECLARE @HoraInicioFinal TIME =
            ISNULL(@HoraInicio, (SELECT HoraInicio FROM Evento WHERE EventoID = @EventoID));

        DECLARE @HoraFinFinal TIME =
            ISNULL(@HoraFin, (SELECT HoraFin FROM Evento WHERE EventoID = @EventoID));

        DECLARE @LugarFinal NVARCHAR(200) =
            ISNULL(@Lugar, (SELECT Lugar FROM Evento WHERE EventoID = @EventoID));

        IF EXISTS (
            SELECT 1
            FROM Evento
            WHERE Fecha = @FechaFinal
            AND Lugar = @LugarFinal
            AND EventoID <> @EventoID
            AND (
                @HoraInicioFinal < HoraFin
                AND
                @HoraFinFinal > HoraInicio
            )
        )
        BEGIN
            SELECT 'Ya existe otro evento en ese lugar y horario para esa fecha' AS Error;
            RETURN;
        END


        UPDATE Evento
        SET
            Nombre = ISNULL(@Nombre, Nombre),
            Fecha = ISNULL(@Fecha, Fecha),
            HoraInicio = ISNULL(@HoraInicio, HoraInicio),
            HoraFin = ISNULL(@HoraFin, HoraFin),
            Lugar = ISNULL(@Lugar, Lugar),
            CupoMaximo = ISNULL(@CupoMaximo, CupoMaximo),
            CupoDisponible = CASE 
                                WHEN @CupoMaximo IS NOT NULL 
                                THEN (@CupoMaximo - @TotalInscritos)
                                ELSE CupoDisponible 
                             END,
            EstadoID = ISNULL(@EstadoID, EstadoID)
        WHERE EventoID = @EventoID;

        SELECT 'Evento actualizado correctamente' AS Mensaje;
        RETURN;
    END



    IF @Opcion = 3
    BEGIN

        SELECT
            E.EventoID,
            E.Nombre,
            E.Fecha,
            E.HoraInicio,
            E.HoraFin,
            E.Lugar,
            E.CupoMaximo,
            E.CupoDisponible,
            E.EstadoID,

            CASE 
                WHEN @VoluntarioID IS NOT NULL
                     AND EXISTS (
                        SELECT 1
                        FROM Inscripcion I
                        WHERE I.EventoID = E.EventoID
                        AND I.VoluntarioID = @VoluntarioID
                        AND I.EstadoID = 4
                     )
                THEN 1 ELSE 0
            END AS EstaInscrito

        FROM Evento E

        WHERE (@VoluntarioID IS NOT NULL AND E.EstadoID = 1)
           OR (@VoluntarioID IS NULL AND E.EstadoID IN (1,2,3))

        ORDER BY E.Fecha ASC, E.HoraInicio ASC;

        RETURN;
    END

END
GO
/****** Object:  StoredProcedure [dbo].[USP_INSCRIPCION]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_INSCRIPCION]
    @Opcion INT,
    @EventoID INT = NULL,
    @VoluntarioID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Opcion NOT IN (1,2,3)
    BEGIN
        SELECT 'OPCION_INVALIDA' AS Resultado;
        RETURN;
    END
    IF @Opcion = 1
    BEGIN
        IF @EventoID IS NULL OR @VoluntarioID IS NULL
        BEGIN
            SELECT 'DATOS_INCOMPLETOS' AS Resultado;
            RETURN;
        END

        IF EXISTS (
            SELECT 1 FROM Inscripcion
            WHERE EventoID = @EventoID
              AND VoluntarioID = @VoluntarioID
              AND EstadoID = 4
        )
        BEGIN
            SELECT 'YA_INSCRITO' AS Resultado;
            RETURN;
        END

        IF NOT EXISTS (
            SELECT 1 FROM Evento
            WHERE EventoID = @EventoID
              AND CupoDisponible > 0
              AND EstadoID = 1
        )
        BEGIN
            SELECT 'SIN_CUPO' AS Resultado;
            RETURN;
        END

        BEGIN TRAN;

        IF EXISTS (
            SELECT 1 FROM Inscripcion
            WHERE EventoID = @EventoID
              AND VoluntarioID = @VoluntarioID
              AND EstadoID = 7
        )
        BEGIN
            UPDATE Inscripcion
            SET EstadoID = 4,
                Estado = 'Activa',
                FechaInscripcion = GETDATE()
            WHERE EventoID = @EventoID
              AND VoluntarioID = @VoluntarioID;
        END
        ELSE
        BEGIN
            INSERT INTO Inscripcion
            (
                VoluntarioID,
                EventoID,
                FechaInscripcion,
                Estado,
                EstadoID
            )
            VALUES
            (
                @VoluntarioID,
                @EventoID,
                GETDATE(),
                'Activa',
                4
            );
        END

        COMMIT;

        SELECT 'OK' AS Resultado;
        RETURN;
    END

    IF @Opcion = 2
    BEGIN
        IF NOT EXISTS (
            SELECT 1 FROM Inscripcion
            WHERE EventoID = @EventoID
              AND VoluntarioID = @VoluntarioID
              AND EstadoID = 4
        )
        BEGIN
            SELECT 'NO_INSCRIPCION_ACTIVA' AS Resultado;
            RETURN;
        END

        BEGIN TRAN;

        UPDATE Inscripcion
        SET EstadoID = 7,
            Estado = 'Inactiva'
        WHERE EventoID = @EventoID
          AND VoluntarioID = @VoluntarioID
          AND EstadoID = 4;

        COMMIT;

        SELECT 'DESINSCRITO' AS Resultado;
        RETURN;
    END

    IF @Opcion = 3
    BEGIN
        SELECT
            e.EventoID,
            e.Nombre,
            e.Fecha,
            e.Lugar,
            i.FechaInscripcion,
            i.Estado,
            i.EstadoID
        FROM Inscripcion i
        INNER JOIN Evento e ON e.EventoID = i.EventoID
        WHERE i.VoluntarioID = @VoluntarioID
          AND i.EstadoID = 4
        ORDER BY e.Fecha;
        RETURN;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_LOGIN]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_LOGIN]
(
    @EMAIL NVARCHAR(150)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        U.UsuarioID,
        V.VoluntarioID,
        P.PrimerNombre,
        P.PrimerApellido,
        U.Contrasena,       
        R.RolID,
        R.NombreRol,
        U.DebeCambiarPassword
    FROM Persona P

    INNER JOIN Usuario U 
        ON U.PersonaID = P.PersonaID

    LEFT JOIN Voluntario V
        ON V.UsuarioID = U.UsuarioID

    INNER JOIN UsuarioRol UR 
        ON UR.UsuarioID = U.UsuarioID

    INNER JOIN Rol R 
        ON R.RolID = UR.RolID

    WHERE 
        P.Email = @EMAIL
        AND U.EstadoID = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONA]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_PERSONA]
    @Opcion INT,

    @PersonaID INT = NULL,
    @PrimerNombre NVARCHAR(50) = NULL,
    @SegundoNombre NVARCHAR(50) = NULL,
    @PrimerApellido NVARCHAR(50) = NULL,
    @SegundoApellido NVARCHAR(50) = NULL,
    @DNI NVARCHAR(20) = NULL,
    @Genero CHAR(1) = NULL,
    @FechaNacimiento DATE = NULL,
    @Email NVARCHAR(100) = NULL,
    @Telefono NVARCHAR(20) = NULL,
    @Direccion NVARCHAR(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF @Opcion NOT IN (1, 2, 3)
        BEGIN
            SELECT 'Opción no válida' AS Error;
            RETURN;
        END
        IF @Opcion = 1
        BEGIN
            IF @PrimerNombre IS NULL 
               OR @PrimerApellido IS NULL 
               OR @DNI IS NULL 
               OR @Genero IS NULL
            BEGIN
                SELECT 'Faltan campos obligatorios' AS Error;
                RETURN;
            END

            IF EXISTS (SELECT 1 FROM Persona WHERE DNI = @DNI)
            BEGIN
                SELECT 'El DNI ya está registrado' AS Error;
                RETURN;
            END

            IF @Email IS NOT NULL 
               AND EXISTS (SELECT 1 FROM Persona WHERE Email = @Email)
            BEGIN
                SELECT 'El Email ya está registrado' AS Error;
                RETURN;
            END

            INSERT INTO Persona (
                PrimerNombre,
                SegundoNombre,
                PrimerApellido,
                SegundoApellido,
                DNI,
                Genero,
                FechaNacimiento,
                Email,
                Telefono,
                Direccion
            )
            VALUES (
                @PrimerNombre,
                @SegundoNombre,
                @PrimerApellido,
                @SegundoApellido,
                @DNI,
                @Genero,
                @FechaNacimiento,
                @Email,
                @Telefono,
                @Direccion
            );

            SELECT 
                'Persona creada correctamente' AS Mensaje,
                SCOPE_IDENTITY() AS PersonaID;
        END

        ELSE IF @Opcion = 2
        BEGIN
            IF @PersonaID IS NULL
            BEGIN
                SELECT 'PersonaID es obligatorio para editar' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Persona WHERE PersonaID = @PersonaID)
            BEGIN
                SELECT 'La persona no existe' AS Error;
                RETURN;
            END

            IF EXISTS (
                SELECT 1 FROM Persona 
                WHERE DNI = @DNI 
                  AND PersonaID <> @PersonaID
            )
            BEGIN
                SELECT 'El DNI ya pertenece a otra persona' AS Error;
                RETURN;
            END

            IF @Email IS NOT NULL AND EXISTS (
                SELECT 1 FROM Persona 
                WHERE Email = @Email 
                  AND PersonaID <> @PersonaID
            )
            BEGIN
                SELECT 'El Email ya pertenece a otra persona' AS Error;
                RETURN;
            END

            UPDATE Persona
            SET
                PrimerNombre = @PrimerNombre,
                SegundoNombre = @SegundoNombre,
                PrimerApellido = @PrimerApellido,
                SegundoApellido = @SegundoApellido,
                DNI = @DNI,
                Genero = @Genero,
                FechaNacimiento = @FechaNacimiento,
                Email = @Email,
                Telefono = @Telefono,
                Direccion = @Direccion
            WHERE PersonaID = @PersonaID;

            SELECT 'Persona actualizada correctamente' AS Mensaje;
        END

        ELSE IF @Opcion = 3
        BEGIN
            SELECT
                PersonaID,

                CONCAT_WS(' ',
                    PrimerNombre,
                    SegundoNombre,
                    PrimerApellido,
                    SegundoApellido
                ) AS NombreCompleto,

                PrimerNombre,
                SegundoNombre,
                PrimerApellido,
                SegundoApellido,

                DNI,
                Genero,
                FechaNacimiento,
                DATEDIFF(YEAR, FechaNacimiento, GETDATE()) -
                    CASE
                        WHEN MONTH(FechaNacimiento) > MONTH(GETDATE()) THEN 1
                        WHEN MONTH(FechaNacimiento) < MONTH(GETDATE()) THEN 0
                        WHEN DAY(FechaNacimiento) > DAY(GETDATE()) THEN 1
                        ELSE 0
                    END AS Edad,

                Email,
                Telefono,
                Direccion
            FROM Persona
            ORDER BY PrimerApellido, PrimerNombre;
        END

    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_MESSAGE() AS Error,
            ERROR_LINE() AS Linea;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_PERSONAS_SIN_USUARIO]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[USP_PERSONAS_SIN_USUARIO]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        P.PersonaID,
        CONCAT_WS(' ',
            P.PrimerNombre,
            P.SegundoNombre,
            P.PrimerApellido,
            P.SegundoApellido
        ) AS NombreCompleto,
        P.Email
    FROM Persona P
    LEFT JOIN Usuario U ON P.PersonaID = U.PersonaID
    WHERE U.UsuarioID IS NULL
    ORDER BY P.PrimerApellido, P.PrimerNombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[USP_REGISTRO]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[USP_REGISTRO]
(
    @PrimerNombre NVARCHAR(50),
    @SegundoNombre NVARCHAR(50) = NULL,
    @PrimerApellido NVARCHAR(50),
    @SegundoApellido NVARCHAR(50) = NULL,
    @DNI NVARCHAR(20),
    @Genero CHAR(1),
    @FechaNacimiento DATE = NULL,
    @Email NVARCHAR(100),
    @Telefono NVARCHAR(20) = NULL,
    @Direccion NVARCHAR(200) = NULL,
    @PasswordHash NVARCHAR(255) 
)
AS
BEGIN

SET NOCOUNT ON;

BEGIN TRY

    IF @PrimerNombre IS NULL OR @PrimerApellido IS NULL OR @DNI IS NULL OR @Genero IS NULL
    BEGIN
        SELECT 'Faltan campos obligatorios' AS Error
        RETURN
    END

    IF EXISTS (SELECT 1 FROM Persona WHERE DNI = @DNI)
    BEGIN
        SELECT 'El DNI ya está registrado' AS Error
        RETURN
    END

    IF EXISTS (SELECT 1 FROM Persona WHERE Email = @Email)
    BEGIN
        SELECT 'El correo ya está registrado' AS Error
        RETURN
    END

    BEGIN TRAN

    INSERT INTO Persona
    (
        PrimerNombre,
        SegundoNombre,
        PrimerApellido,
        SegundoApellido,
        DNI,
        Genero,
        FechaNacimiento,
        Email,
        Telefono,
        Direccion
    )
    VALUES
    (
        @PrimerNombre,
        @SegundoNombre,
        @PrimerApellido,
        @SegundoApellido,
        @DNI,
        @Genero,
        @FechaNacimiento,
        @Email,
        @Telefono,
        @Direccion
    )

    DECLARE @PersonaID INT = SCOPE_IDENTITY()

    INSERT INTO Usuario
    (
        PersonaID,
        Contrasena,
        EstadoID,
        DebeCambiarPassword
    )
    VALUES
    (
        @PersonaID,
        @PasswordHash,
        1,
        1
    )

    DECLARE @UsuarioID INT = SCOPE_IDENTITY()

    INSERT INTO UsuarioRol
    (
        UsuarioID,
        RolID
    )
    VALUES
    (
        @UsuarioID,
        1
    )

    COMMIT

    SELECT
        'Registro exitoso' AS Mensaje,
        @UsuarioID AS UsuarioID

END TRY
BEGIN CATCH

    ROLLBACK

    SELECT
        ERROR_MESSAGE() AS Error

END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[USP_USUARIO]    Script Date: 10/3/2026 10:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_USUARIO]
    @Opcion INT,

    @UsuarioID INT = NULL,
    @PersonaID INT = NULL,
    @Contrasena NVARCHAR(255) = NULL,
    @RolID INT = NULL,
    @EstadoID INT = 1
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        IF @Opcion NOT IN (1,2,3)
        BEGIN
            SELECT 'Opción no válida' AS Error;
            RETURN;
        END

        IF @Opcion = 1
        BEGIN
            IF @PersonaID IS NULL OR @Contrasena IS NULL OR @RolID IS NULL
            BEGIN
                SELECT 'Faltan campos obligatorios' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Persona WHERE PersonaID = @PersonaID)
            BEGIN
                SELECT 'La persona no existe' AS Error;
                RETURN;
            END

            IF EXISTS (SELECT 1 FROM Usuario WHERE PersonaID = @PersonaID)
            BEGIN
                SELECT 'La persona ya tiene un usuario asignado' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Rol WHERE RolID = @RolID)
            BEGIN
                SELECT 'El rol no existe' AS Error;
                RETURN;
            END

            IF EXISTS (
                SELECT 1
                FROM Usuario U
                INNER JOIN Persona P ON U.PersonaID = P.PersonaID
                WHERE P.Email = (
                    SELECT Email FROM Persona WHERE PersonaID = @PersonaID
                )
            )
            BEGIN
                SELECT 'Ya existe un usuario con ese correo' AS Error;
                RETURN;
            END

            INSERT INTO Usuario (PersonaID, Contrasena, EstadoID)
            VALUES (@PersonaID, @Contrasena, @EstadoID);

            DECLARE @NuevoUsuarioID INT = SCOPE_IDENTITY();

            INSERT INTO UsuarioRol (UsuarioID, RolID)
            VALUES (@NuevoUsuarioID, @RolID);

            SELECT 
                'Usuario creado correctamente' AS Mensaje,
                @NuevoUsuarioID AS UsuarioID;
        END

        ELSE IF @Opcion = 2
        BEGIN
            IF @UsuarioID IS NULL OR @RolID IS NULL
            BEGIN
                SELECT 'UsuarioID y RolID son obligatorios' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Usuario WHERE UsuarioID = @UsuarioID)
            BEGIN
                SELECT 'El usuario no existe' AS Error;
                RETURN;
            END

            IF NOT EXISTS (SELECT 1 FROM Rol WHERE RolID = @RolID)
            BEGIN
                SELECT 'El rol no existe' AS Error;
                RETURN;
            END

            IF @Contrasena IS NOT NULL AND LTRIM(RTRIM(@Contrasena)) <> ''
            BEGIN
                UPDATE Usuario
                SET Contrasena = @Contrasena
                WHERE UsuarioID = @UsuarioID;
            END

            IF EXISTS (SELECT 1 FROM UsuarioRol WHERE UsuarioID = @UsuarioID)
            BEGIN
                UPDATE UsuarioRol
                SET RolID = @RolID
                WHERE UsuarioID = @UsuarioID;
            END
            ELSE
            BEGIN
                INSERT INTO UsuarioRol (UsuarioID, RolID)
                VALUES (@UsuarioID, @RolID);
            END

            SELECT 'Usuario actualizado correctamente' AS Mensaje;
        END

        ELSE IF @Opcion = 3
        BEGIN
            SELECT
                U.UsuarioID,
                P.PersonaID,
                CONCAT(
                    P.PrimerNombre, ' ',
                    ISNULL(P.SegundoNombre, ''), ' ',
                    P.PrimerApellido, ' ',
                    ISNULL(P.SegundoApellido, '')
                ) AS NombreCompleto,
                P.Email,
                R.RolID,
                R.NombreRol,
                U.EstadoID
            FROM Usuario U
            INNER JOIN Persona P ON U.PersonaID = P.PersonaID
            LEFT JOIN UsuarioRol UR ON U.UsuarioID = UR.UsuarioID
            LEFT JOIN Rol R ON UR.RolID = R.RolID
            ORDER BY P.PrimerApellido, P.PrimerNombre;
        END

    END TRY
    BEGIN CATCH
        SELECT 
            ERROR_MESSAGE() AS Error,
            ERROR_LINE() AS Linea;
    END CATCH
END;
GO
USE [master]
GO
